# Vim
.*.swo
.*.swp
*~

# OpenSim
err.log
out.log

# Mac
.DS_Store

# dependencies
dependencies/*
!dependencies/CMakeLists.txt
!dependencies/*.cmake

# Clion
# -----
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# CMake
cmake-build-*

## File-based project format:
*.iws

