# Ignore backup files created by editors like emacs, vim.
*~
*.swp
# Ignore cmake files.
*CMakeCache.txt
*CMakeFiles
# Ignore tmp directory/file. We use it sometimes to write debug information.
tmp
# Ignore build trees.
build*

# python
*.pyc
