# To learn about this file, go to http://docs.travis-ci.com/user/languages/c/
language: cpp

compiler:
  - gcc
  - clang
  
before_install:
  ## Get Simbody and its dependencies.
  - sudo apt-get update
  - sudo apt-get install liblapack-dev
  # Must get a newer gcc so we can compile with C++11, 
  # when using gcc OR Clang.
  # from https://github.com/travis-ci/travis-ci/issues/979.
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-4.8
  # Only if compiling with gcc, update environment variables
  # to use the new gcc.
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
  # Clone Simbody into the Simbody directory. Don't need its history, and
  # only need the master branch.
  - git clone https://github.com/simbody/simbody.git simbody-source --depth 1 --branch master
  - cd simbody-source
  # Configure Simbody.
  - cmake . -DBUILD_VISUALIZER=off -DSIMBODY_STANDARD_11=on -DCMAKE_INSTALL_PREFIX=../simbody-install
  # Build Simbody.
  - make -j8
  # Test Simbody. TODO potentially unnecessary and confusing?
  - ctest -j8
  # Install Simbody.
  - make -j8 install
  ## Set up OpenSim. Travis already cloned it for us by this point.
  - cd ../
  
install:
  # Configure OpenSim.
  # TODO BUILD_API_EXAMPLES?
  - cmake . -DCMAKE_PREFIX_PATH=simbody-install -DCMAKE_CXX_FLAGS=-Werror
  # Build OpenSim.
  - make -j8
  
script:
  # Install OpenSim.
  - ctest -j8 
