# Windows testing using Visual Studio.

# Syntax for this file:
# http://www.appveyor.com/docs/appveyor-yml

# See http://msdn.microsoft.com/en-us/library/ms164311.aspx for
# command-line options to MSBuild.

# Speeding up a Visual Studio build.
# http://blogs.msdn.com/b/vcblog/archive/2011/01/05/damn-my-vc-project-is-building-slower-in-vs2010-what-do-i-do-now-a-step-by-step-guide.aspx

# To treat warnings as errors: -DCMAKE_CXX_FLAGS="/WX /EHsc"
# "/EHsc" is to "unwind semantics" to get error messages when using "/WX" (C4530).
# However, this was causing some weird behavior. Not treating warnings
# as errors for now.
#
  
shallow_clone: true

os: Visual Studio 2015

platform: x64

environment:
  matrix:
    - CMAKE_GENERATOR: "Visual Studio 14 2015"
      NUGET_PACKAGE_ID_SUFFIX: "-x86"
      JAVA_DIR: "C:\\Program Files (x86)\\Java\\jdk1.8.0"
      PYTHON_DIR: "C:\\Python27"
    - CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
      NUGET_PACKAGE_ID_SUFFIX: "-x64"
      JAVA_DIR: "C:\\Program Files\\Java\\jdk1.8.0"
      PYTHON_DIR: "C:\\Python27-x64"

branches:
  except:
  # Branches containing Development Proposals do not need to be tested.
  # Exclude any branch whose name starts with devprop (case-insensitive).
  # For example, devprop-feature and DEVPROP_feature are ignored.
  # The forward slashes indicate to AppVeyor that we are giving a regex.
  - /^(?i:devprop).*$/

init:
  # Note: python 2.7 32bit is already on the path. We want v2.7 64bit,
  # so we must add v2.7 64bit earlier on the PATH so that CMake finds it when
  # configuring.
  # The Scripts directory is for putting nosetests on the path.
  # http://www.appveyor.com/docs/installed-software
  - SET PATH=%PYTHON_DIR%;%PATH%
  - SET OPENSIM_SOURCE_DIR=C:\projects\opensim-core
  - SET OPENSIM_BUILD_DIR=C:\projects\opensim_build
  - SET OPENSIM_INSTALL_DIR=C:\projects\opensim_install
  - SET OPENSIM_DEPENDENCIES_SOURCE_DIR=%OPENSIM_SOURCE_DIR%\dependencies
  - SET OPENSIM_DEPENDENCIES_BUILD_DIR=C:\projects\opensim_dependencies_build
  - SET OPENSIM_DEPENDENCIES_INSTALL_DIR=C:\projects\opensim_dependencies_install
  # The CMake variable JAVA_HOME tells CMake where to look for Java.
  - SET JAVA_HOME=%JAVA_DIR%
  - SET PATH=%JAVA_HOME%\bin;%PATH%

nuget:
  account_feed: true

cache:
  ## Cache swig, which we install via AppVeyor.
  # The syntax here is <dir-to-cache> -> <invalidated-when-this-file-changes>
  # If the appveyor.yml script is changed, then the cache is invalidated.
  # https://www.appveyor.com/docs/build-cache/
  - C:\ProgramData\chocolatey\bin -> appveyor.yml # swig.exe
  - C:\ProgramData\chocolatey\lib -> appveyor.yml # supporting swig Lib files.

install:
  - cmake --version

  ## Use Chocolatey to install SWIG.
  # Only install swig if it isn't present (as a result of AppVeyor's caching).
  # SWIG 3.0.8 is the minimum required version, but it does not yet exist in
  # Chocolatey.
  - IF NOT EXIST C:\ProgramData\chocolatey\bin\swig.exe choco install swig --version 3.0.9 --yes --limit-output #> $null
  - choco install doxygen.portable
  
  ## Install python-nose for python testing.
  - "%PYTHON_DIR%\\Scripts\\pip install nose"
  
  ## Simbody.
  # Simbody's installation is pushed to our Appveyor NuGet account feed.
  # Must use version 0.0.0, otherwise, nuget will use nuget.org, where
  # chrisdembia once uploaded a simbody 3.5.0 nupkg.
  # Output directory must match how Simbody was packaged, otherwise
  # SimbodyConfig.cmake will have all the wrong paths.
  # - nuget install simbody%NUGET_PACKAGE_ID_SUFFIX% -Version 0.0.0 -ExcludeVersion -OutputDirectory C:\

build_script:
  ## Superbuild dependencies. 
  - mkdir %OPENSIM_DEPENDENCIES_BUILD_DIR%
  - cd %OPENSIM_DEPENDENCIES_BUILD_DIR%
  - cmake %OPENSIM_DEPENDENCIES_SOURCE_DIR% -G"%CMAKE_GENERATOR%" -DCMAKE_INSTALL_PREFIX=%OPENSIM_DEPENDENCIES_INSTALL_DIR% # -DSUPERBUILD_simbody=OFF
  - cmake --build . --config RelWithDebInfo -- /maxcpucount:4 /verbosity:quiet
  - mkdir %OPENSIM_BUILD_DIR%
  ## Configure and build OpenSim.
  # Must create separate build dir, otherwise can't read test files
  # for some reason.
  - cd %OPENSIM_BUILD_DIR%
  # Configure. # TODO -DBUILD_SIMM_TRANSLATOR=ON
  - cmake %OPENSIM_SOURCE_DIR% -G"%CMAKE_GENERATOR%" -DOPENSIM_DEPENDENCIES_DIR=%OPENSIM_DEPENDENCIES_INSTALL_DIR% -DCMAKE_INSTALL_PREFIX=%OPENSIM_INSTALL_DIR% -DBUILD_JAVA_WRAPPING=ON -DBUILD_PYTHON_WRAPPING=OFF -DWITH_BTK:BOOL=ON -DBUILD_TETSING=OFF

  # Build.
  # Hack to avoid error MSB3191: Unable to create directory
  # "C:\projects\opensim_build\RelWithDebInfo\" which may result from parallel jobs
  # trying to create this directory.
  - mkdir %OPENSIM_BUILD_DIR%\RelWithDebInfo
  - cmake --build . --config RelWithDebInfo -- /maxcpucount:4 /verbosity:quiet #/p:TreatWarningsAsErrors="true"
  
test_script:
  ## Run tests.
  #- ctest --parallel 4 --build-config RelWithDebInfo --output-on-failure #--exclude-regex "%OPENSIM_TESTS_TO_EXCLUDE%"

  #- cmake --build . --target doxygen --config RelWithDebInfo

  ## Ensure we have no trouble installing.
  - cmake --build . --target install --config RelWithDebInfo -- /maxcpucount:4 /verbosity:quiet
  
  ## Test python wrapping.
  #- set PATH=%OPENSIM_INSTALL_DIR%\bin;%PATH%
  # Move to the installed location of the python package.
  #- cd %OPENSIM_INSTALL_DIR%\sdk\python
  # Run python tests.
  #- "%PYTHON_DIR%\\Scripts\\nosetests -v" #--exclude=%PYTHON_TESTS_TO_EXCLUDE%"

after_test:
  - cd %APPVEYOR_BUILD_FOLDER%
  - ## On master branch, create NuGet package for OpenSim.
  - # Detect if we are on the master branch.
  - IF %APPVEYOR_REPO_BRANCH% EQU tgcs2017_build_on_ci_relwithdebinfo IF NOT DEFINED APPVEYOR_PULL_REQUEST_NUMBER SET DISTR=TRUE
  - # Create and upload NuGet package.
  - IF DEFINED DISTR nuget pack .opensim-core.nuspec -Properties "packageIdSuffix=%NUGET_PACKAGE_ID_SUFFIX%_tgcs2017_relwithdebinfo" -BasePath %OPENSIM_INSTALL_DIR%
  - IF DEFINED DISTR appveyor PushArtifact opensim-core%NUGET_PACKAGE_ID_SUFFIX%_tgcs2017_relwithdebinfo.0.0.0.nupkg

# The following, if uncommented, should allow you to remote-desktop into
# the Appveyor build machine.
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
